<html>

  <head>

  </head>

<body>

  <h1>Books</h1>
  
<ul>
  {{#each books}}

  <a href="./checkout/{{id}}"><li>{{name}} by {{author}}<br>
  </li></a>
  {{genre}}
  <br><br>

  {{/each}}

</ul>

</body>
</html>