<h1>Checkout Page</h1>

<p>
  You want to check out: {{name}} by {{author}}<br>
  Status: {{status}}
</p>

<form method="POST">
  What is your name?: 
  <input type="text" name="userName">
  <input type="submit" name="checkoutBook" value="Checkout">
</form>

<a href="/">Go Back to Books List</a>
{{!-- Go Back Home --}}