<h1>Checkout Page</h1>
<br>
<br>
<p>
  You want to check out: {{name}} by {{author}}<br>
  <br><br><br> Status: {{status}}
</p>
<br>
<br>
<br>
<form method="POST">
  What is your name?: <br>
  <input type="text" name="userName">
  <input type="submit" name="checkoutBook" value="Checkout">
</form>
<br><br><br>

<a href="/">Go Back to Books List</a>
{{!-- Go Back Home --}}